.new-tweet {
  /* border: 1px solid red; */
  margin-top: 2rem;
}

.form-tweet {
  /* border: 1px solid red; */
  position: relative;
}

.form-label {
  /* border: 1px solid lightblue; */
  display: block;
  font-weight: bold;
  /* position: absolute; */
}

.form-textarea {
  /* border: 1px solid blue; */
  outline: none;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.7);
  background-color: transparent;
  height: 2.5rem;
}

.btn-counter {
  /* border: 1px solid grey; */
  margin-top: 1rem;
}

.form-btn {
  font-family: 'Bungee', cursive;
  padding: 0.1em 1rem;
  background: #4056a1;
  color: white;
}

.form-counter {
  /* border: 1px solid blue; */
  font-family: 'Bungee', cursive;
  font: bold;
  float: right;
}

.error-color {
  color: red;
}

.new-tweet-error {
  color: red;
  border: 1px solid red;
  padding: 1rem;
  margin-bottom: 1rem;
  display: none;
}
